@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, head {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(255, 255, 255); 

}
html, h1, h3{
    color:black;
}
h2{ 
    color:rgb(0, 26, 128);
    justify-content: center;
    align-items: center;
    text-align:center;
}
.author_list{
    margin:3em;
    justify-content: center;
}
.author_profile{
    justify-content: center;
    align-items: center;
    text-align:center; 
}

section .author {

    flex-direction:column;
    border-style:solid;
    border-radius: 1em;
    border-color: rgb(182, 221, 251);
    background-color: rgb(212, 233, 247);
    display:inline-block;
    text-align: center;
    margin: 0.2em;

}

section .author:hover {
   transform:scale(1.05);
   transition: transform 0.3s ease-in-out;
  

}

.list_display_name{
    font-weight: bold;

}



button{
    font-size:1.2em;
    border-style:none;
    border-width: 0.1em;
    border-radius:0.3em;
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
  
}

.view_profile:hover{
    background-color: rgba(41, 117, 189, 0.183); 
    cursor:pointer;
}



.profile_image{

    border-style:solid;
    max-width: 8em;
    height: 8em;
    border-width:0.0625em;
    border-radius:1em;
    border-color: rgb(182, 221, 251);
 
}

li{
    list-style: none;
}

