@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --red-hover: rgba(230, 23, 23, 0.93);
  --nav_bar-color: #e4e9e9;
  --background-color: #ffffff;
  --follow-button: #0090ce;
  --header-color:rgb(137, 198, 225);
  --base-text-color:color:rgb(0, 26, 128);
  --border-color:rgb(208, 209, 210); 
  --border-radius: 0.8em;

}

html, head {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(255, 255, 255); 

}
html, h1, h3{
    color:black;
}
.page_title{ 
    color:rgb(0, 26, 128);
    padding-top: 3em;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-bottom:2em;
}
p{
    font-family: 'Nunito', sans-serif;
}

.author_list{
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
}
.author_profile{
    justify-content: center;
    align-items: center;
    text-align:center; 
}
.list_display_name{
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 8em;
    text-align: center;
}
section .author {

    flex-direction:column;
    border-style:solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color);
    border-width:0.15em;
    background-color: rgb(254, 254, 254);
    display:inline-block;
    text-align: center;
    margin: 0.2em;
    max-width: 25em;
    box-shadow: 0 0.125em 0.375em rgba(0, 0, 0, 0.208);

}

section .author:hover {
   transform:scale(1.05);
   transition: transform 0.3s ease-in-out;
  

}

.list_display_name{
    font-weight: bold;

}



button{
    font-size:1.2em;
    border-style:none;
    border-width: 0.1em;
    border-radius:0.3em;
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
  
}

.view_profile:hover{
    background-color: rgba(41, 117, 189, 0.183); 
    cursor:pointer;
}



.profile_image{
    object-fit:cover;
    object-position: center;
    border-style:solid;
    max-width: 8em;
    height: 8em;
    border-width:0.0625em;
    border-radius: var(--border-radius);
    border-color: var(--border-color);
 
}

li{
    list-style: none;
}

