@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body, h1,h2,p{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(255, 255, 255); 
}

.post-card {
    font-family: 'Nunito', sans-serif;
    border: 0.0625em solid #6f6c6cac;
    border-radius: 0.625em;
    padding:1em;
    margin: 1.5em auto;
    background-color: #fff;
    box-shadow: 0 0.125em 0.375em rgba(0, 0, 0, 0.208);
    text-decoration: none;
    justify-content: center;
    align-content: center;
    max-width:40em;
}

div.d-flex.align-items-center.mb-2.post-header{
 justify-content:space-evenly;
}

.post-card:hover{
    transform: scale(1.03);
    transition:transform 0.3s ease-in-out;
}

.post-info{
    text-align: center;
    justify-content: center;
}

/*entry image*/
.entry_image{
    display:block; 
    margin: 0 auto; 
    max-width: 95%; 
    border-radius: 0.625em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.post-header {
    align-items: left;
    gap: 0em;
    margin-bottom: 0.5em;
    width:100%;
}
.post-header img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.post-title {
  width: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  font-size: 1.2em; 
  text-align: center;
  font-weight: bold;
}


div.post-content.markdown-content img{
    justify-content: center;
    text-align: center;
    text-align: center;
    line-height: 1.6; 
    margin-left:auto;
    margin-right:auto;
    width: 100%;

}


div.post-content img{
    justify-content: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;

}

.container.mt-4{
    width:100%;
}

.mt-4{
    width: 100%;
}

div.post-content {
    justify-content: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    font-size:1.2em;
    text-overflow: ellipsis;
    padding:1em;

}


.post-footer {
    display: inline-flex;
    justify-content: left;
    max-height: fit-content;
    gap: 3em;
}
.like-btn, .comment-btn {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: normal;
    font-size: 1em;
    margin:0em;
    padding: 0em 0em;
    display: inline-flex;
    line-height: 1;
    gap:3em;
}

.like-btn-custom:hover {
    color: #e25555 !important;
    background: #ffeaea;
    border-radius: 50%;
    transition: background 0.2s, color 0.2s;
}
.comment-btn-custom:hover {
    color: #0d6efd !important;
    background: #eaf1ff;
    border-radius: 50%;
    transition: background 0.2s, color 0.2s;
}

a{
    text-decoration: none;
    color:black;
}

.text-muted{
    font-style: italic;
}