@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body{
    font-family: 'Nunito', sans-serif;
    background-color: azure; 
}
h1,h2{
    color:rgb(0, 26, 128);
}

.author_profile{
    justify-content: center;
    align-items: center;
    text-align:center;
}

.author_profile{
     font-family: 'Nunito', sans-serif;
     border-radius: 0.5em;
     font-variant: small-caps;
     font-weight: bold;
     font-size:small;
}

.nav_button{
    color:rgb(255, 255, 255);
    font-size:large;
    background-color: rgb(23, 104, 104);
    border-radius: 0.5em;
    font-family: 'Nunito', sans-serif;


}
.profile_buttons button{
    background-color: lightblue;
    border-radius: 1em;
}
.logout_button{
    background-color: rgb(233, 112, 112);
     border-radius: 1em;
}

.entry_list {
    list-style-type: none;
    padding: 0;
}
.entry_list li {
    margin-bottom: 10px;
}

.follow_button {
    font-family: 'Nunito', sans-serif;
    border-radius:0.4em; 
    font-size:2em; 
    background-color:lightblue;

}

.unfollow_button{
    font-family: 'Nunito', sans-serif;
    color: white; 
    background-color: red; 
    border-radius:0.4em; 
    font-size:2em;
} 