{% load static %}
<link rel="stylesheet" href="{% static 'wiki/author_list.css' %}">
<h2>Authors</h2>

    <section class="switch_from_author">
    <a href="{% url 'wiki:profile' request.user.username%}">
        <button type="nav_button">Back to Profile</button>
    </a>
    <a href="{% url 'wiki:user-wiki' request.user.username %}">
        <button type="nav_button">Back to Stream</button>
    </a>
    </section>



<section class="authors_list">

<ul class="author_list">
    {% for author in authors %}
        <section class="author">

        {% if author.profileImage %}
            <img class="profile_image" src="{{ author.profileImage.url }}" alt="Profile Picture">
        {% else %}
            <img class="profile_image" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png" alt="Default image">
        {% endif %}
            <p class="list_display_name">{{ author.displayName }}</p>


                    <section class="default_buttons">

                           
                            <a href="{% url 'wiki:view_external_profile' author.serial %}">
                                <button class="view_profile" type="submit">View Profile</button>
                            </a>
                          
                            
                           

                    </section>


        </section>
    {% endfor %}
</ul>

</section>
