{% load static %}
<link rel="stylesheet" href="{% static 'wiki/author_list.css' %}">
<h2>Authors</h2>

<section class="authors_list">
<ul class="author_list">
    {% for author in authors %}
        <li class="author">
            <img src="{{ author.profileImage }}" alt="{{ author.displayName }}"/>
            <p>{{ author.displayName }}</p>
            <section class="buttons">
                <a href="{% url 'wiki:view_external_profile' author.serial %}">
                    <button class="nav_button type="submit">View Profile</button>
                </a>
            </section>
            <div class="default_buttons">
                <a href="{% url 'wiki:profile' %}">
                    <button class ="nav_button" type="button">Back to Profile</button>
                </a>
                <a href="{% url 'wiki:user-wiki' request.user.username %}">
                    <button class="nav_button" type="button">Back to Stream</button>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
</section>
