{% load static %}
<link rel="stylesheet" href="{% static 'wiki/style.css' %}">

<h2>{{ entry.title }}</h2>
<p>{{ entry.content }}</p>
{% if entry.image %}
    <img src="{{ entry.image.url }}" alt="Post image">
{% endif %}

<p><em>By {{ entry.author.displayName }}</em></p>

<div class="default_buttons">
    <a href="{% url 'wiki:profile' %}">
        <button type="button">Back to Profile</button>
    </a>
    <a href="{% url 'wiki:user-wiki' request.user.username %}">
        <button type="button">Back to Stream</button>
    </a>
    {% if is_owner %}
    <a href="{% url 'wiki:edit_entry' entry.serial %}">
       <button type="button">Edit Entry</button>
    </a>
    <a href="{% url 'wiki:delete_entry' entry.serial %}">
       <button type="button">Delete Entry</button>
    </a>
    {% endif %}

</div>
