{% load static %}
<link rel="stylesheet" href="{% static 'wiki/profile_page.css' %}">


        <!--Messages to inform the user about their following state pertaining to a specific user-->
        {% if messages %}
            <script>
            {% for message in messages %}
                alert("{{message|escapejs}}")
            {%endfor%}
            </script>
            
        {% endif %}
        <!--Default buttons, as per necessary tags-->
        <div class="default_buttons">
            
            <a href="{% url 'wiki:user-wiki' request.user.username %}">
                <p class="back_to_stream_button">Back to Stream</p>
            </a>

            <a href="{% url 'wiki:profile' request.user.username %}">
                <p class="back_to_stream_button">Back To Profile</p>
            </a>
            
        </div>

        <section class="author_profile_description_follow_button">

            <section class="author_profile_description">

                    <section class="pic_name_followers_entries">

                            <section class="profile_pic_and_name">

                                <!--Authenticated user check successful, then make the profile picture clickable -->
                                {% if request.user.is_authenticated %}
                                
                                        <!--Make profile picture lead to pfp editing-->
                                        {% if author.image %}
                                        
                                        
                                            <img class="profile_image_logged_user" src="{{ author.imageProfile.url }}" alt="Profile Picture">
                                    
                                        {% else %}
                                        
                                            <img class="profile_image_logged_user" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png" alt="Default image">
                                    
                                        {% endif %}
                                    <!--end of profile image check-->

                                <!--Authenticated user check fails, then make the profile picture non-clickable -->
                                {% else %}
                                    
                                    {% if author.image %}
                                    
                                            <img class="profile_image" src="{{ author.imageProfile.url }}" alt="Profile Picture">
                                    {% else %}
                                            <img class="profile_image" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png" alt="Default image">
                                    {% endif %}

                                {% endif %}

                            <h3 class="display_name">{{ author.displayName }}</h3>
                            
                            </section>

                        <!--Titles For Follow And Entry Details-->
                        <section class="follow_and_entry_labels">
                            <p class="folow_and_entry_count"> {{entry_count}} </p>
                            <p class="follow_and_entry_title"> Entries</p>
                        </section>    

                        <section class="follow_and_entry_labels">
                            <p class="folow_and_entry_count"> {{follower_count}} </p>
                            <p class="follow_and_entry_title"> Followers</p>
                        </section>     
                        
                        <section class="follow_and_entry_labels">
                            <p class="folow_and_entry_count"> {{following_count}} </p>
                            <p class="follow_and_entry_title"> Following</p>
                        </section> 

                    </section> 


            

                

                        <section class="follow_info_button">
                        {% if is_a_friend %}
                        <form action="{% url 'wiki:follow_profile' author.serial %}" method="POST">
                        
                        
                            {% csrf_token %}
                            <button class="unfriend_button"  type="submit" >Unfriend User </button> 

                        </form>
                        {% elif is_following %}

                        <form action="{% url 'wiki:follow_profile' author.serial %}" method="POST">
                            {% csrf_token %}
                        <button class="unfollow_button" type="submit" >UnFollow Profile</button>
                
                        </form>

                         {% elif is_currently_requesting %}

                        <form action="{% url 'wiki:follow_profile' author.serial %}" method="POST">
                            {% csrf_token %}
                        <button class="unrequest_button" type="submit" >Cancel Request</button>
                
                        </form>

                        {% else %}

                        <form action="{% url 'wiki:follow_profile' author.serial %}" method="POST">
                            {% csrf_token %}
                            <button class="follow_button" type="submit">Follow Profile</button> 
                        </form>

                        {% endif%}
                    </section>


                </section>
                

                    <section class="description_content">
                
                    {% if author.description  %}
                        <p>{{ author.description }} </p>
                    {% else  %}
                        <p>No Description</p>
                    {% endif %}

                    {% if author.github %}
                    <p>{{ author.github}} </p>
                    {% else  %}
                    <p>GitHub Profile Not Found</p>
                    {% endif %}

                </section> 
        </section>


        