{% load static %}
<link rel="stylesheet" href="{% static 'wiki/profile_page.css' %}">
{% if messages %}
    <script>
    {% for message in messages %}
        alert("{{message|escapejs}}")
    {%endfor%}
    </script>
    
{% endif %}

<div class="default_buttons">
    <a href="{% url 'wiki:profile' request.user.username%}">
        <button type="button">Back to Profile</button>
    </a>
    <a href="{% url 'wiki:user-wiki' request.user.username %}">
        <button type="button">Back to Stream</button>
    </a>
</div>
<section class="author_profile">


            <img class="profile_image" src="{{ author.profileImage }}" alt="{{ author.displayName }}"/>
            <h3>{{ author.displayName }}</h3>
            {% if author.github %}
            <p>{{ author.github}} </p>
            {% else  %}
            <p>GitHub Profile Not Found</p>
            {% endif %}

             {% if is_following %}

           <form action="{% url 'wiki:follow_profile' author.serial %}" method="POST">
                {% csrf_token %}
               <button class="unfollow_button" type="submit" >UnFollow Profile</button>
 
            </form>
            
            {% else %}

            <form action="{% url 'wiki:follow_profile' author.serial %}" method="POST">
                {% csrf_token %}
                <button class="follow_button" type="submit">Follow Profile</button> 
            </form>

            {% endif%}


           
</section>