{% load static %}
<link rel="stylesheet" href="{% static 'wiki/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('login_button').addEventListener('click', function(){
            document.getElementById('loadingtext').hidden = false;
        });
     });
    </script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>SocialDistribution</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="login_button" class="login_button">Log In</button>
            <a href="{% url 'wiki:register' %}"> 
                <p>Don't have an account? Register here.</p>
            </a>
        </form>
    </div> 
    <h2 id='loadingtext' hidden>Loading...</h2>
</body>
</html>
