{% load static %}
<link rel="stylesheet" href="{% static 'wiki/profile_page.css' %}">
<section class="author_profile">
    <img class="profile_image" src="{{ author.profileImage }}" alt="{{ author.displayName }}"/>
    <h3 class="display_name">{{ author.displayName }}</h3>
    {% if author.description  %}
    <p>{{ author.description }} </p>
    {% else  %}
    <p>No Description</p>
    {% endif %}
    {% if author.github %}
    <p>{{ author.github}} </p>
    {% else  %}
    <p>GitHub Profile Not Found</p>
    {% endif %}
    <form method="post" action="{% url 'wiki:logout' %}">
    {% csrf_token %}
    <button class="logout_button" type="submit" >Logout</button>
    </form>


    <div class="profile_buttons">
    <a href="{% url 'wiki:user-wiki' request.user.username %}">
        <button type="button">Go Back to Stream</button>
    </a>
    <a href="{% url 'wiki:check_follow_requests' request.user.username %}">
        <button type="button">Check Follow Requests</button>
    </a>
    <a href="{% url 'wiki:view_authors' %}">
        <button type="button">Browse Authors </button>
    </a>
    <a href="{% url 'wiki:create_entry' %}">
        <button type="button">Add Entry</button>
    </a>
        <a href="{% url 'wiki:edit_profile' request.user.username %}">
        <button type="button">Edit Profile</button>
    </a>
    </div>


    <h3>Your Entries</h3>
    {% if entries %}
    <ul class="entry_list">
        {% for entry in entries %}
            <li>
                <a href="{% url 'wiki:entry_detail' entry.serial %}">
                    <strong>{{ entry.title }}</strong> — {{ entry.created_at|date:"M d, Y H:i" }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>