{%load static%}
<link rel="stylesheet" href="{% static 'wiki/style.css' %}">
<div class="container">
    <h2>Create Account</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="username">Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" name="password" required><br><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" name="confirm_password" required><br><br>

        <label for="github">GitHub URL:</label><br>
        <input type="url" name="github"><br><br>

        <label for="profileImage">Profile Image:</label><br>
        <input type="file" name="profileImage" accept="image/*"><br><br>

        <button type="submit" class="login_button">Register</button>
    </form>
</div>
